@font-face {
    font-family: font1;
    src: url(../fonts/latin/Montserrat-Bold.ttf);
  }
@font-face {
    font-family: font2;
    src: url(../fonts/latin/MontserratAlternates-Light.ttf);
}
@font-face {
    font-family: font3;
    src: url(../fonts/latin/Fuggles-Regular.ttf);
}
@font-face {
    font-family: font4;
    src: url(../fonts/latin/DancingScript-VariableFont_wght.ttf);
}
@font-face {
    font-family: font5;
    src: url(../fonts/latin/Pacifico-Regular.ttf);
}
@font-face {
    font-family: font6;
    src: url(../fonts/latin/Allura-Regular.ttf);
}
@font-face {
    font-family: font7;
    src: url(../fonts/latin/AnticDidone-Regular.ttf);
}
@font-face {
    font-family: font8;
    src: url(../fonts/latin/GreatVibes-Regular.ttf);
}
@font-face {
    font-family: font9;
    src: url(../fonts/latin/HomemadeApple-Regular.ttf);
}
@font-face {
    font-family: font10;
    src: url(../fonts/latin/Parisienne-Regular.ttf);
}
@font-face {
    font-family: font11;
    src: url(../fonts/latin/PoiretOne-Regular.ttf);
}
@font-face {
    font-family: font12;
    src: url(../fonts/latin/Tangerine-Regular.ttf);
}
@font-face {
    font-family: font13;
    src: url(../fonts/latin/Sacramento-Regular.ttf);
}

/* FONT ARAB */
@font-face {
    font-family: fontar1;
    src: url(../fonts/arabic/Cairo-Regular.ttf);
}
@font-face {
    font-family: fontar2;
    src: url(../fonts/arabic/Amiri-Regular.ttf);
}
@font-face {
    font-family: fontar3;
    src: url(../fonts/arabic/ArefRuqaa-Regular.ttf);
}
@font-face {
    font-family: fontar4;
    src: url(../fonts/arabic/ReemKufi-VariableFont_wght.ttf);
}

