@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,900;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Playfair+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
body {
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

nav.navbar {
    padding-block: 1rem;
    background-color: white;
    /* #4b1010 */
}

.navbar-brand img {
    width: 5rem;
}

.navbar .navbar-nav .nav-link {
    color: #4b1010;
    margin-left: 1.5rem;
}

.hero {
    padding-top: 5rem;
    padding-bottom: 4rem;
}

.hero img {
    width: 20rem;
}

.hero .row .col-md-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero .col-md-4 .foto-fahmi {
    position: relative;
    z-index: 1000;
}

.hero .col-md-4 .shadow-img {
    position: relative;
    top: -.55rem;
    width: 18rem;
    z-index: 10;
}

.hero .col-md-4 .shadow-img .show {
    position: relative;
    top: -.55rem;
    width: 18rem;
    z-index: 10;
}

.hero svg {
    position: absolute;
    width: 30rem;
    top: 8rem;
    left: -2rem;
}

.hero .col-md-8 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-left: 4rem;
}

.hero .name {
    color: #940C10;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.hero .profesion {
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 2.5rem;
}

.hero .about {
    position: absolute;
    bottom: 0;
}

.hero a {
    text-decoration: none;
    font-weight: bold;
    color: #4b1010;
}

.hero a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #4b1010;
}

.linkedin,
.github,
.drible,
.email {
    font-size: 21px;
}

.title {
    color: #940C10;
    font-family: 'Playfair Display', serif;
    margin-bottom: 3rem;
}

p {
    font-family: 'Raleway', sans-serif;
}

.skills {
    padding-block: 5rem;
}

.skills img {
    width: 6rem;
    margin: 2rem;
}

.skills .container {
    padding: 0;
}

.skills .col-md-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .col-md-9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills .titles {
    text-align: left;
}

.skills .descript {
    text-align: justify;
}


/* .nav-tabs {
    border: 0px !important;
} */

.nav-tabs .nav-link {
    color: black;
}

.nav-tabs .nav-item a.active {
    background-color: rgb(238, 238, 238);
}

.nav-tabs .tab-text-2,
.nav-tabs .tab-text-3 {
    display: none;
}

.portofolio {
    padding-top: 1rem;
    padding-bottom: 0rem;
}

.portofolio .col-md-4 img {
    width: 20rem;
    margin-block: 1.6rem;
    border-radius: 10px;
}

.modal .modal-content {
    border-radius: 10px !important;
}

.modal .modal-body {
    padding: 10px !important;
    padding-block: 30px !important;
}

.modal .modal-footer {
    align-self: center;
    width: 100%;
    padding: 0px !important;
    background-color: transparent !important;
}

.modal .modal-footer .btn-group {
    margin: 0px;
}

.modal .modal-footer .btn-group .btn {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.modal .modal-footer .btn-group .btn.btn-danger {
    border-bottom-left-radius: 10px;
}

.modal .modal-footer .btn-group .btn.btn-primary {
    border-bottom-right-radius: 10px;
}

.modal img.image-priview-modal {
    width: 90%;
}

.portofolio .software {
    border: 0px !important;
    padding-block: 5rem;
}

.portofolio .graphic .col-md-4:hover,
.portofolio .automation .col-md-4:hover {
    cursor: pointer;
}

.portofolio .graphic,
.portofolio .automation {
    display: none;
    margin-top: 4rem;
}

.portofolio a:hover {
    cursor: pointer;
}

.portofolio .subtitle {
    margin-bottom: 4rem;
}

.portofolio .webporto img:hover {
    width: 21rem;
    transition: 1s;
}

.contact {
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.contact .col-md-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal .modal-content .modal-header,
.modal .modal-content .modal-footer {
    border: none;
}

.footer {
    padding-top: 4rem;
    bottom: 0;
}

footer {
    bottom: 0;
    background-color: var(--maincolor1);
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: none;
    color: black;
}


/* MOBILE DEVICE ================================ */

@media (max-width: 575.98px) {
    body {
        overflow-x: hidden;
    }
    .navbar-toggler {
        color: #4b1010;
        /* background-color: #4b1010; */
    }
    .navbar-toggler .navbar-toggler-icon {
        color: #4b1010;
        /* background-color: #4b1010; */
    }
    .hero {
        display: block;
    }
    .hero .row .col-md-4 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero .col-md-4 .foto-fahmi {
        width: 15rem;
    }
    .hero .col-md-4 .shadow-img {
        width: 13rem;
    }
    .hero .col-md-8 {
        padding-inline: 2rem;
    }
    .hero .name {
        font-size: 4rem;
    }
    .hero .profesion {
        font-size: 2rem;
    }
    .hero svg {
        position: absolute;
        width: 24rem;
        top: 5rem;
        left: -2rem;
    }
    .title {
        text-align: center;
    }
    .linkedin,
    .github,
    .drible,
    .email {
        font-size: 23px;
    }
    .about {
        padding-top: 4rem;
    }
    .hero .about {
        position: relative;
        top: 3rem;
        text-align: justify;
    }
    .skills {
        padding-inline: 2rem;
    }
    .skills .row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .skills .titles {
        text-align: center;
    }
    .portofolio .graphic {
        padding-top: 3rem;
    }
    .portofolio .graphic .row .col-md-4 {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .portofolio .graphic img {
        margin-block: .5rem;
    }
    .contact {
        padding-bottom: 0rem;
        padding-top: 3rem;
    }
    .contact .col-md-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3rem;
    }
    .footer {
        /* display: none; */
    }
}